extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  div.main 
    p(id="p1") Welcome to Finding Fido!
    h2 Finding Fido is dedicated to helping people connect each other with their lost pets.
    p A family pet is lost every 2 seconds.
    p Of those pets, about 10% are successfully returned to their homes.
