extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  div.main
    div.welcome 
      h2(id="p1") Welcome to Finding Fido!
      h3(id="p1") Finding Fido is a project dedicated to helping pet-owners reunite each other with their lost pets.
      p(style="text-align: left; margin: 5px;") Losing a pet can be stressful and deeply saddening. Many of us have lost a beloved pet and can remember the pain and sense of hopelessness that quickly sets in. While a visual search of the neighborhood has been the most effective method for finding a lost pet, not everyone manages to find their lost family member.
      p(style="text-align: left; margin: 5px;") For those pets that become lost for an extended period, Finding Fido provides a centralized location for people to enlist the support of their communities in finding their pets and safely returning them home.
    div.info
      ul
        li
          p(style="text-align: left") A family pet is lost every 2 seconds in the US.
        li
          p(style="text-align: left")
            | Of those pets, about 
            span(style="color: red;") 1
            |  in 
            span(style="color: red;") 10
            |  are successfully returned to their homes.
        li
          p(style="text-align: left") More facts will go here.
        li
          p(style="text-align: left") Maybe even some cute pictures of pets?
        li
          p(style="text-align: left") Definitely something cute.
