doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href="/")
        button Home
      a(href="/admin/users")
        button Users
      a(href="/pets/add/lost")
        button Report Lost Pet
      a(href="/pets/add/found")
        button Report Found Pet 
      if user.id
        p Welcome, #{user.username}
        a(href="/users/signout")
          button Sign Out
      else 
        a(href="/users/signin")
          button Sign In
        a(href="/users/signup")
          button Sign Up
  block content
