doctype html
html
  head
    title= title
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='//cdn.auth0.com/js/lock-9.1.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    h1#title Finding Fido 
    header     
      a(href="/")
        button Home
      a(href="/pets/all")
        button Find Pets 
      a(href="/admin/users")
        button Users
      a(href="/pets/add/lost")
        button Report Lost Pet
      a(href="/pets/add/found")
        button Report Found Pet 
      if user.id
        p Welcome, #{user.username}
        a(href="/users/signout")
          button Sign Out
      else 
        a(href="/users/signin")
          button Sign In
        a(href="/users/signup")
          button Sign Up
  script(src="https://cdn.auth0.com/js/lock-7.min.js")
  script(type="text/javascript").
    var lock = new Auth0Lock('odLWNoZNGYeONIG3KeVCisJcta40sQeQ', 'findingfido.auth0.com');
    function signin() {
      lock.show({
        connections: ['facebook', 'google-oauth2'],
        callbackURL: 'http://localhost:3000/callback',
        responseType: 'code',
        authParams: {
          scope: 'openid email'
        }
      });
    }

  button(onclick="window.signin();") Login (Facebook or Google)
    
  block content
