doctype html
html
  head
    title Finding Fido
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='//cdn.auth0.com/js/lock-9.1.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    header 
      h1#title Finding Fido 
      div#signLinks
        if !user
          a(href="/users/signin") Sign In
          p or
          a(href="/users/signup") Sign Up
        else
          p Welcome, #{user.first_name}
          a(href="/users/profile") My profile 
          br
          a(href="/users/signout") Sign Out
    div#buttons 
      div#nav-bar    
        a(href="/") Home
        a(href="/pets/all") Find Pets
        a(href="/pets/add/lost") Report Lost Pet
        a(href="/pets/add/found/initial") Report Found Pet

  script(src="https://cdn.auth0.com/js/lock-7.min.js")
  script(type="text/javascript").
    var lock = new Auth0Lock('odLWNoZNGYeONIG3KeVCisJcta40sQeQ', 'findingfido.auth0.com');
    function signin() {
      lock.show({
        connections: ['facebook', 'google-oauth2'],
        // Change this line to environment-specific callback
        // Either {http://localhost:3000/callback} or {https://findingfido.herokuapp.com/callback}
        callbackURL: 'http://localhost:3000/callback',
        responseType: 'code',
        authParams: {
          scope: 'openid email'
        } 
      });
    }

  block content

  block footer 
    footer.footer 
      p Copyright © 2016 Finding Fido 
