extends ../layout

block content
  script(src='../../../../javascripts/imageupload.js')
  
  h1 Upload Images
  
  p
  form(action='/pets/add/lost/addimage' method="post")
    a(id='upload_widget_opener' href='#') Upload images of your pet 
    script(src='//widget.cloudinary.com/global/all.js', type='text/javascript')
    script(type='text/javascript').
      document.getElementById("upload_widget_opener").addEventListener("click", function() {
      cloudinary.openUploadWidget({ cloud_name: 'dmuipy77o', upload_preset: 'qpt4sw9g'},
      function(error, result) { console.log(error); window.localStorage.setItem('image_url', result[0].secure_url) });
      }, false);
    input(id="button" type="submit" value="Add Picture")
    input(style="display: none;" type="text" id="imageInput" name="image")
    input(style="display: none;" type="number" id="idInput" name="idInput" value='#{petId[0].id}')
