extends ../layout

block content
  script(src='../../../../javascripts/imageupload.js')
  
  h1.formheading Upload Images
  
  p
  form(action='/pets/add/lost/addimage' method="post" id="lostform")
    a(id='upload_widget_opener' href='#') Upload images of your pet 
    script(src='//widget.cloudinary.com/global/all.js', type='text/javascript')
    script(type='text/javascript').
      document.getElementById("upload_widget_opener").addEventListener("click", function() {
      cloudinary.openUploadWidget({ cloud_name: 'dmuipy77o', upload_preset: 'qpt4sw9g'},
      function(error, result) { console.log(error); window.localStorage.setItem('image_url', result[0].secure_url) });
      }, false);
    br
    label(for="image")
    input(type="text" id="imageInput" name="image" style="display: none;")
    //- label(for="id")
    //- input(type="number" id="idInput" name="idInput"
    //- value='#{pet[0].id}' style="display: none;")
    input(id="button" type="submit" value="Add Picture" class="submit")
    br
    input(type="button" value="Show Nearest Humane Societies" id="humaneSoc")
    br
    p
    div(id="addresses")
      div(id="address1" class="address")
      div(id="address2" class="address")
      div(id="address3" class="address")
    p
      div(id="map")
    br

    style.
      html {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #map
    script.
      var map;
      function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.015, lng: -105.2705},
      zoom: 8
      });
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDKlEoatQMCNbV8_y7_i-8oR_Ven7dFMTM&callback=initMap', async='', defer='')
