extends ../layout

head
block content
  script(type='text/javascript', src='../../../../javascripts/reportfound.js')
  h1 Report a Found Pet 
  p= error
  form(action='/pets/add/found' method="post")
    label(for="name") Enter the name of the pet. If not known, enter N/A. 
    input(type="text" name="name")
    p Dog
    label(for="dog") 
    input(type="radio" name="species" id="dog" value="dog")
    p
    label(for="cat") Cat 
    input(type="radio" name="species" id="cat" value="cat")
    p
    label(for="other") Other:  
    input(type="radio" name="species" id="other" value="other")
    input(type="text" name="other" placeholder="Please enter the species")
    p
    label(for="location") Enter the approximate location where the pet currently is. 
    input(type="location" name="location")
    p
    label(for="date") Please add the date the pet was found. 
    input(type="date" name="date")
    p
    label(for="age") Enter the age of the pet (best guess if not known) 
    input(type="text" name="age")
    p
    label(for="description") Please enter any additional information, such as breed, distinguishing features, characteristics, etc. 
    input(type="textarea" name="description")
    p
    label(for="contact") Please enter your preferred contact information. 
    input(type="textarea" name="contact")
    p
    input(type="submit" value="Report Your Found Pet")
    p
    input(type="button" value="Show Nearest Humane Societies" id="humaneSoc")
    br
    div(id="addresses")
      div(id="address1")
      br
      div(id="address2")
      br
      div(id="address3")
    br
    p
      div(id="map")
    
    style.
      html {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #map
    script.
      var map;
      function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.015, lng: -105.2705},
      zoom: 8
      });
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDKlEoatQMCNbV8_y7_i-8oR_Ven7dFMTM&callback=initMap', async='', defer='')
