extends ../layout

block content
  h1.reportheading Report a Lost Pet 
  p= error
  form(action='/pets/add/lost' method="post" id="lostform")
    label(for="name") Enter the name of your pet 
      input(type="text" name="name")
    p 
    div.radio 
      label(for="dog") Dog 
        input(type="radio" name="species" id="dog" value="dog")
      label(for="cat") Cat 
        input(type="radio" name="species" id="cat" value="cat")
      label(for="other") Other  
        input(type="radio" name="species" id="other" value="other")
      label(for="othertext")  If other, please enter the species: 
      input(type="text" name="other" id="othertext")
    p
    label(for="location") Enter the approximate last known location of your pet 
      input(type="location" name="location")
    p
    label(for="date") Please add the date the pet was lost 
      input(type="date" name="date")
    p
    label(for="age") Please enter the age of your pet 
      input(type="text" name="age")
    p
    label(for="description") Please enter any additional information, such as breed, distinguishing features, characteristics, etc. 
    textarea(type="textarea" name="description" class="textarea")
    p
    label(for="contact") Please enter your phone number  
      input(type="text" name="contact")
    p
    input(type="submit" value="Report Your Lost Pet" class="submit")
