extends ../layout

block content
  h1 Report a Lost Pet 
  p= error 
  form(action='/pets/add/lost' method="post")
    label(for="name") Enter the name of your pet 
    input(type="text" name="name")
    p 
    label(for="species") Enter the species of your pet 
    input(type="text" name="species")
    p
    label(for="location") Enter the approximate last known location of your pet 
    input(type="location" name="location")
    p
    label(for="date") Please add the date the pet was lost 
    input(type="date" name="date")
    p
    label(for="age") Please enter the age of your pet 
    input(type="number" name="age")
    p
    label(for="description") Please enter any additional information, such as breed, distinguishing features, characteristics, etc. 
    input(type="textarea" name="description")
    p
    label(for="image")
    input(type="file" name="image" entype='multipart/form-data')
    p
    a(id='upload_widget_opener' href='#') Upload images of your pet 
    script(src='//widget.cloudinary.com/global/all.js', type='text/javascript')
    script(type='text/javascript').
      document.getElementById("upload_widget_opener").addEventListener("click", function() {
      cloudinary.openUploadWidget({ cloud_name: 'dmuipy77o', upload_preset: 'qpt4sw9g'},
      function(error, result) { console.log(error, result[0]); console.log(result[0].secure_url); });
      }, false);
      
    p
    label(for="contact") Please enter your preferred contact information 
    input(type="textarea" name="contact")
    p
    input(type="submit" value="Report Your Lost Pet")
