extends ../layout

block content
  h1 Report a Lost Pet 
  p= error
  form(action='/pets/add/lost' method="post")
    label(for="name") Enter the name of your pet 
    input(type="text" name="name")
    p 
    label(for="dog") Dog 
    input(type="radio" name="species" id="dog" value="dog")
    p
    label(for="cat") Cat 
    input(type="radio" name="species" id="cat" value="cat")
    p
    label(for="other") Other:  
    input(type="radio" name="species" id="other" value="other")
    input(type="text" name="other" placeholder="Please enter the species")
    p
    label(for="location") Enter the approximate last known location of your pet 
    input(type="location" name="location")
    p
    label(for="date") Please add the date the pet was lost 
    input(type="date" name="date")
    p
    label(for="age") Please enter the age of your pet 
    input(type="text" name="age")
    p
    label(for="description") Please enter any additional information, such as breed, distinguishing features, characteristics, etc. 
    input(type="textarea" name="description")
    p
    label(for="contact") Please enter your preferred contact information 
    input(type="textarea" name="contact")
    p
    input(type="submit" value="Report Your Lost Pet")
