extends ../layout 

block content 
  h1 Your pet has been successfully submitted. You will be contacted via your preferred contact info if someone finds your pet. 
  p In the meantime, we recommend browing the found pets section of this website as well as keeping an eye on local animals shelters.
