body {
}
p {
  text-align: center;
}
.welcome {
  width: 60%;
  float: left;
}
.info {
  width: 20%;
  float: right;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
.info * {
  padding: 10px;
}
li {
  list-style-type: disc;
  list-style-position: inside;
}
