body {
  /*background-color: red;*/
}
p {
  text-align: center;
}
.main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.welcome {
  width: 50%;
  float: left;
}
.info {
  width: 30%;
  float: right;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
.info * {
  padding: 10px;
}
li {
  list-style-type: disc;
  list-style-position: inside;
}
