body {
  text-align: center;
}
#petprofilelink:hover {
  color: purple;
}
.back {
  text-align: left;
}
img {
  height: 250px;
  width: 250px;
  border-style: solid;
}
.profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 100px;
}
.profile-right {
  align-self: center;
}

.profile-right h3:hover{
  color: purple;
}
a {
  text-decoration: none;
}


/*a h3 {
  color: black;
}*/
