* {
  margin: 0;
  padding: 0; }

header a button {
  color: #284DCC; }

body {
  background: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.42857em;
  height: 100%;
  min-height: 40em;
  margin-bottom: -50px;
  padding-bottom: 50px; }

header {
  width: 100%;
  margin: 0;
  justify-content: center;
  font-style: Helvetica, sans-serif;
  background: linear-gradient(90deg, #6B7599, #998D6B);
  padding-bottom: 20px; }

#title {
  font-size: 5em;
  font-family: 'Gloria Hallelujah', cursive;
  width: 100%; }

.main {
  margin-bottom: 25px;
  padding-bottom: 30px;
  min-height: 100vh;
  width: 100%; }

.footer {
  background: linear-gradient(90deg, #6B7599, #998D6B);
  height: 25px;
  padding: 20px;
  padding-top: 25px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-top: 10px; }

#buttons {
  width: 100%;
  float: left;
  height: 50px;
  margin: 30px;
  overflow: hidden;
  background: black;
  margin-top: 0;
  margin-left: 0; }
  #buttons #buttonsInButtons {
    padding-left: 100px; }
  #buttons button {
    color: #284DCC;
    background: black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #buttons p {
    float: left;
    color: #284DCC;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px; }

strong {
  color: black; }

h1 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

h2 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

h4 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

#p1 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

p {
  font-family: 'Raleway', sans-serif; }

a {
  font-family: 'Raleway', sans-serif; }

ul {
  list-style-type: none; }

.sidebar {
  width: 12%;
  float: left;
  color: black;
  padding-left: 10px; }
  .sidebar a {
    padding-bottom: 20px; }
  .sidebar .show {
    padding-bottom: 20px; }

.main {
  width: 85%;
  float: left; }

table, form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif; }
  table th, form th {
    color: #284DCC;
    padding-right: 30px;
    padding-left: 30px; }

input {
  width: 100%;
  font-size: .65em;
  height: 30px;
  margin-bottom: -5px;
  border-radius: 4px;
  background: #998D6B;
  color: #284DCC;
  border-bottom: 5px;
  border-right: 5px;
  margin-top: 15px; }

.signinInput {
  margin-top: 15px; }

#signinSubmit {
  margin-left: 116px; }

.description {
  font-size: .48em; }

label {
  padding-right: 10px;
  color: #284DCC; }

#passwordLabel {
  padding-right: 14px; }

#map {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 400px;
  width: 70%; }

.form {
  padding-bottom: 50px; }

.pets {
  width: 100%;
  padding-bottom: 50px;
  font-family: 'Raleway', sans-serif; }
  .pets .eachpet {
    width: 350px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin: 5px;
    margin-bottom: 20px;
    height: 500px;
    padding-top: 10px;
    overflow: scroll; }
  .pets img {
    width: 90;
    border: solid 1px black;
    border-radius: 50px;
    margin-left: -45px; }
  .pets li {
    margin-left: -45px;
    font-size: 0.75em; }

.error {
  color: red;
  text-align: center;
  font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=style.css.map */
