$fontColor: #284DCC;
$fontColor2: #FFB68C;
$backGroundColor: #6B7599;
$backGroundColor2: #FFB68C;
$headerColor: #CC4C28;

body{
  background: $backGroundColor;
}
body * {
  color: white;
}
header a button {
  color: $fontColor;
}
$headerFont: Helvetica, sans-serif;
$headerFontSize: (10/7) * 1em;

//INDEX AND LAYOUT PAGES
body{
  background: linear-gradient(90deg, $backGroundColor, $fontColor2);
  font: {
    family: $headerFont;
    size: $headerFontSize;
  }
}
header{
  display: flex;
  justify-content: center;
  font-style: $headerFont;
}
button{
  color: $fontColor;
  background: $backGroundColor;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font: {
    size: 1em;
  }

}
h1{
  text-align: center;
  color: $fontColor;
}
#p1{
  text-align:center;
  color: $fontColor;
}
//USERLIST.JADE
table, form{
  display:flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  th{
    color: $fontColor;
    padding-right: 30px;
    padding-left: 30px; }
}
//REPORT LOST PETS
input{
  font-size: .75em;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  margin-bottom: -5px;
  border-radius: 4px;
  background: $fontColor2;
  color: $fontColor;
  border-bottom: 5px;
  border-right:5px;}

  label{
    color: $fontColor;
  }

  webkit-input-placeholder{
    color: $fontColor2;
  }
