$fontColor: #284DCC;
$fontColor2: #998D6B;
$backGroundColor: #6B7599;
$backGroundColor2: #FFB68C;
$headerColor: #CC4C28;

body{
  background: $backGroundColor;
}
body * {
  color: white;
}
header a button {
  color: $fontColor;
}
$headerFont: Helvetica, sans-serif;
$headerFontSize: (10/7) * 1em;


body{
  background: linear-gradient(90deg, $backGroundColor, $fontColor2);
  font: {
    family: $headerFont;
    size: $headerFontSize;
  }
}
header{
  display: flex;
  justify-content: center;
  font-style: $headerFont;
}
#title {
  font: {
    size: 5em;
    family: 'Gloria Hallelujah', cursive;
  }
  width: 100%;
}
button{
  color: $fontColor;
  background: $backGroundColor;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font: {
    size: 1em;
    family: 'Raleway', sans-serif;
  }

}
strong {
  color: black;
}
h1 {
  text-align: center;
  color: $fontColor;
  font: {
    family: 'Raleway', sans-serif;
  }
}
h2 {
  text-align: center;
  color: $fontColor;
  font: {
    family: 'Raleway', sans-serif;
  }
}
h4 {
  text-align: center;
  color: $fontColor;
  font: {
    family: 'Raleway', sans-serif;
  }
}
#p1{
  text-align:center;
  color: $fontColor;
  font: {
    family: 'Raleway', sans-serif;
  }
}
p {
  font: {
    family: 'Raleway', sans-serif;
  }
}
a {
  font: {
    family: 'Raleway', sans-serif;
  }
}
ul {
  list-style-type: none;
}
.sidebar {
  width: 20%;
  float: left;
}
.main {
  width: 80%;
  float: left;
}
//USERLIST.JADE
table, form{
  display:flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font: {
    family: 'Raleway', sans-serif;
  }
  th{
    color: $fontColor;
    padding-right: 30px;
    padding-left: 30px; }
}
input{
  width: 100%;
  font-size: .65em;
  height: 30px;
  margin-bottom: -5px;
  border-radius: 4px;
  background: $fontColor2;
  color: $fontColor;
  border-bottom: 5px;
  border-right:5px;
  margin-top: 15px;
}
.signinInput {
  margin-top: 15px;
}
#signinSubmit{
  margin-left: 116px;
}
.description{
    font-size: .48em;
  }
label{
    padding-right: 10px;
    color: $fontColor;
  }
#passwordLabel{
    padding-right:14px;
  }
#map {
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  height: 400px;
  width: 800px;
}
#addresses{
  width: 700px;
  display:flex;
  justify-content: space-between;
  font-size: .65em;
}

.pets {
  td {
    border: solid 1px black;
    text-align: center;
  }
  img {
    border: solid 1px black;
    border-radius: 50px;
  }
}
