body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Below is all of Conor's CSS: Delete Any Time*/
table {
  display: flex;
  justify-content: center;
}
