* {
  margin: 0;
  padding: 0; }

header a button {
  color: #284DCC; }

body {
  background: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.42857em;
  height: 100%;
  min-height: 40em;
  margin-bottom: -50px;
  padding-bottom: 50px; }

header {
  width: 100%;
  margin: 0;
  justify-content: center;
  font-style: Helvetica, sans-serif;
  background: linear-gradient(90deg, #6B7599, #998D6B);
  padding-bottom: 20px;
  position: relative; }

#title {
  font-size: 3em;
  font-family: 'Gloria Hallelujah', cursive;
  width: 100%; }

#signLinks {
  color: #284DCC;
  text-align: center;
  margin-right: 20px;
  position: absolute;
  top: 15px;
  right: 2px; }
  #signLinks p {
    color: #fff; }
  #signLinks a {
    text-decoration: none;
    color: #284DCC; }

.footer {
  background: linear-gradient(90deg, #6B7599, #998D6B);
  opacity: 0.5;
  height: 25px;
  padding: 20px;
  padding-top: 25px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-top: 10px;
  text-align: center; }

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
  height: 50px;
  margin: 30px;
  overflow: hidden;
  background: black;
  margin-top: 0;
  margin-left: 0; }
  #buttons #nav-bar a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
  #buttons button {
    background: black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 7px;
    width: 10%;
    float: left;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #buttons p {
    float: left;
    color: #284DCC;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px; }

strong {
  color: black; }

h1 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

h2 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

h3 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

h4 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

#p1 {
  text-align: center;
  color: #284DCC;
  font-family: 'Raleway', sans-serif; }

p {
  text-align: center;
  font-family: 'Raleway', sans-serif; }

a {
  font-family: 'Raleway', sans-serif; }

ul {
  list-style-type: none; }

.sidebar {
  width: 12%;
  float: left;
  color: black;
  text-align: left;
  padding-left: 10px; }
  .sidebar a {
    padding-bottom: 20px; }
  .sidebar .show {
    padding-bottom: 20px;
    text-align: left; }

.main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  padding-bottom: 30px;
  width: 85%; }

table, form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif; }
  table th, form th {
    color: #284DCC;
    padding-right: 30px;
    padding-left: 30px; }

.signinInput {
  margin-top: 15px; }

#signinSubmit {
  margin-left: 116px; }

.description {
  font-size: .48em; }

label {
  padding-right: 10px;
  color: #284DCC; }

#passwordLabel {
  padding-right: 14px; }

#map {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 400px;
  width: 70%; }

.top {
  margin-bottom: 15px; }

.pets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
  font-family: 'Raleway', sans-serif; }
  .pets .eachpet {
    text-align: center;
    width: 350px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin: 5px;
    margin-bottom: 20px;
    height: 500px;
    padding-top: 10px;
    overflow: scroll; }
  .pets img {
    width: 90;
    border: solid 1px black;
    border-radius: 50px;
    margin-left: -5px; }
  .pets li {
    margin-left: -45px;
    font-size: 0.75em; }
  .pets .content {
    margin-left: 50px; }

.error {
  color: red;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px; }

.formheading {
  margin-bottom: 20px; }

#foundlink {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px; }
  #foundlink a {
    color: #284DCC; }

#successzip {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px; }

#sheltershow {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  #sheltershow #humaneSoc {
    text-align: center; }

#humaneSoc {
  text-align: center; }

#lostform, .form {
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: left;
  align-items: center;
  width: 85%; }
  #lostform a, .form a {
    margin-bottom: 20px; }
  #lostform .radio, .form .radio {
    float: left; }
  #lostform input, #lostform textarea, .form input, .form textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    margin: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #lostform .textarea, .form .textarea {
    width: 600px;
    max-width: 600px;
    height: 150px;
    line-height: 150%; }
  #lostform input:hover, #lostform textarea:hover,
  #lostform input:focus, #lostform textarea:focus, .form input:hover, .form textarea:hover,
  .form input:focus, .form textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }
  #lostform .submit, .form .submit {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }

.success {
  margin: 0 auto;
  width: 90%;
  text-align: center; }
  .success h1 {
    margin-bottom: 20px; }

#signin {
  margin-bottom: 50px;
  text-align: left;
  align-items: center;
  width: 85%; }
  #signin a {
    margin-bottom: 20px; }
  #signin .radio {
    float: left; }
  #signin input, #signin textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    margin: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #signin .textarea {
    width: 600px;
    max-width: 600px;
    height: 150px;
    line-height: 150%; }
  #signin input:hover, #signin textarea:hover,
  #signin input:focus, #signin textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }
  #signin .submit {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }

#signup {
  margin-bottom: 50px;
  text-align: left;
  align-items: center;
  width: 85%; }
  #signup a {
    margin-bottom: 20px; }
  #signup .radio {
    float: left; }
  #signup input, #signup textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    margin: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #signup .textarea {
    width: 600px;
    max-width: 600px;
    height: 150px;
    line-height: 150%; }
  #signup input:hover, #signup textarea:hover,
  #signup input:focus, #signup textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }
  #signup .submit {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }

#foundform {
  margin-bottom: 50px;
  text-align: left;
  align-items: center;
  width: 85%; }
  #foundform a {
    margin-bottom: 20px; }
  #foundform .radio {
    float: left; }
  #foundform input, #foundform textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    margin: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #foundform .textarea {
    width: 600px;
    max-width: 600px;
    height: 150px;
    line-height: 150%; }
  #foundform input:hover, #foundform textarea:hover,
  #foundform input:focus, #foundform textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }
  #foundform .submit {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }

.submit {
  text-align: center;
  margin-bottom: 20px;
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif; }

.sign {
  text-align: center; }

.address {
  padding: 20px; }

#shelterForm {
  padding-bottom: 5px; }
  #shelterForm #zip {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    width: 80px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    margin: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif; }
  #shelterForm #zip:hover,
  #shelterForm #zip:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }

.accountlinks {
  text-align: center;
  align-items: center;
  padding: 20px; }
  .accountlinks p {
    height: 10px; }
  .accountlinks a {
    text-decoration: none;
    color: #284DCC; }

/*# sourceMappingURL=style.css.map */
