extends ../layout 

block content 
  h1 Edit #{user.first_name}'s Password 
  p.error= error 
  div.accountlinks
    p.show
    a(href="/users/profile") Back To My Profile 
  //- div.main 
  form(action="/users/account/password/change" method="post" class="form")
    label(for="password" id="passwordLabel") Please enter your new password 
    input(name="password" type="password" placeholder="password")
    label(for="password" id="passwordLabel") Please re-enter your new password 
    input(name="password2" type="password" placeholder="re-enter password")
    input(type="submit" value="Enter Your Password" class="submit")
