extends ../layout 

block content 
  h1 Hello, #{user.first_name}
  div.accountlinks
    a(href="/users/profile/mypets" class="profilelink") My Pets 
    br
    p
    a(href="/users/account" class="profilelink") Change Account Info 
    br
    p
    a(href="/users/account/password" class="profilelink") Change Your Password 
  
