extends ../layout 

block content 
  h1 Hello, #{user.first_name}
  div.accountlinks
    a(href="/pets/profile/mypets" class="profilelink") My Pets 
    br
    p
    a(href="/users/account" class="profilelink") My Account Info 
  
