extends ../layout

block content
  h2.formheading= title
  
  form(id="signin" method="post" action="/users/signin" class="form")
    p.error= error 
    label(for="username") Username
    input(name="username" type="text" placeholder="username" autofocus class="signinInput")
    br
    label(for="password" id="passwordLabel") Password
    input(name="password" type="password" placeholder="password" class="signinInput")
    input(type="submit" value="Submit" class="submit" id="signinSubmit")
